project_name = "test"
env  = "prod"

vpc_cidr = "10.0.0.0/16"
azs = ["ap-northeast-1a", "ap-northeast-1c", "ap-northeast-1d"]
enable_nat_gateway = true

instance_type = "t3.micro"
asg_min_size         = 3
asg_max_size         = 6
asg_desired_capacity = 3

instance_class = "db.t3.micro"
password       = ""
multi_az                 = true
backup_retention_period  = 7
skip_final_snapshot = false
enable_deletion_protection = true

enable_alb_logs        = true
enable_vpc_flow_logs   = true
enable_rds_audit_logs  = true
log_retention_days     = 30


send_email = ""

